[gcode_macro Extrude_Filament]
gcode:

      {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(205)|float %} # Form to fill extruder temp. Default is 205
      {% set EXTRUDER_Lenght = params.EXTRUDER_EXTRUDER_Lenght|default(50)|float %} 
        
      
        SET_FILAMENT_SENSOR SENSOR=runout ENABLE=0
        M117 Loading Filament 
        M104 S{EXTRUDER_TEMP} # Heat Nozzle  
        {% if "xyz" not in printer.toolhead.homed_axes %} G28 {% endif %} # Home if necessary
        
        G90
        G1 Z100
        G90
        G1 X235 Y0 F3000
        M109 S{EXTRUDER_TEMP} # Wait for Nozzle Heat
       
        
        
        # Play tone
        M300 S1046 P150
        M300 S1318 P150
        M300 S1567 P150
        M300 S2093 P150
        M300 S2637 P150
        M300 S3135 P400
        M300 S2637 P400
        M300 S1046 P150
        M300 S1244 P150
        M300 S1661 P150
        M300 S2093 P150
        M300 S2489 P150
        M300 S3322 P400
        M300 S2489 P400
        M300 S1174 P150
        M300 S1396 P150
        M300 S932 P150
        M300 S2349 P150
        M300 S2793 P150
        M300 S1864 P150
        M300 S0 P400
        M300 S1864 P120
        M300 S0 P60
        M300 S1864 P120
        M300 S0 P60
        M300 S1864 P120
        M300 S0 P60
        M300 S4186 P900 
        
        
        G1 E{EXTRUDER_Lenght} F300
        G92 E0
        M117 Ready to print
        M400 # Wait for all move
        #M104 S0 # Turn off heater
        #M84 # Motors off
        SET_FILAMENT_SENSOR SENSOR=runout ENABLE=1
