###########################################################################################
# Load Filament
###########################################################################################

[gcode_macro Load_Filament]
gcode:

     {% if printer.idle_timeout.state == "Printing" %}
         
         M701 # Load filament
         {action_respond_info("Try M701")}
    {% else %}
        M117 Loading Filament
        {% if "xyz" not in printer.toolhead.homed_axes %} G28 {% endif %} # Home if necessary
        {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(210)|float %} # Form to fill extruder temp. Default is 210
        
        M104 S{EXTRUDER_TEMP} # Heat Nozzle 
        G27 X235 Y0 Z100 F5000
        M84 E # Motors off
        M109 S{EXTRUDER_TEMP} # Wait for Nozzle Heat
       
        # Play tone
        M300 S1046 P150
        M300 S1318 P150
        M300 S1567 P150
        M300 S2093 P150
        M300 S2637 P150
        M300 S3135 P400
        M300 S2637 P400
        M300 S1046 P150
        M300 S1244 P150
        M300 S1661 P150
        M300 S2093 P150
        M300 S2489 P150
        M300 S3322 P400
        M300 S2489 P400
        M300 S1174 P150
        M300 S1396 P150
        M300 S932 P150
        M300 S2349 P150
        M300 S2793 P150
        M300 S1864 P150
        M300 S0 P400
        M300 S1864 P120
        M300 S0 P60
        M300 S1864 P120
        M300 S0 P60
        M300 S1864 P120
        M300 S0 P60
        M300 S4186 P900 

        M82
        G90
        G92 E0 # Reset Extruder
        # M83 # E axis into relative mode
        G1 E70 F600 # length to load filament
        G1 E20 F60  #  Some extra to prime the nozzle slower
        M400 # Wait for all move

        M104 S0 # Turn off heater
        M84 # Motors off
        G92 E0 # Reset Extruder
        M117 Ready to print
    {% endif %}
